version: "3"


services:
  db:
    build:
      context: ./mysql/mysql
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=rootroot
      - MYSQL_DATABASE=cloud_native
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./mysql/volume/:/docker-entrypoint-initdb.d/
    networks:
      - cloudNativeNet


  backend:
    build:
      context: ./backend/
      dockerfile: Dockerfile
    restart: always
    ports:
      - "127.0.0.1:8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/cloud_native
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: rootroot
    depends_on:
      - db
    networks:
      - cloudNativeNet
    links:
      - db


  frontend:
    build:
      context: ./frontend/
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - cloudNativeNet
    links:
      - backend

networks:
  cloudNativeNet:
    driver: bridge